.gameTitleTitle {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  line-height: 105%;
  color: #55586a;
}
.gameTitleInstance {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 105%;
  color: #55586a;
}
.gameTitleDate {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 105%;
  color: #55586a;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
}
