.digitalClock {
  color: #ffffff;
  background-color: var(--colorDarkTwo);
  width: fit-content;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  font-weight: bold;

  &--inactive {
    color: var(--colorDarkTwo);
    background-color: #ffffff;
  }
}
