.digitalClock {
  color: #FFFFFF;
  background-color: var(--colorDarkTwo);
  width: fit-content;
  padding: 6px 10px;
  border-radius: 10px;
  font-family: Helvetica Neue;
  font-weight: bold;
}
.digitalClockInactive {
  color: var(--colorDarkTwo);
  background-color: #FFFFFF;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 10px;
  font-family: Helvetica Neue;
  font-weight: bold;
}

.digitalClockError {
  color: #FFFFFF;
  background-color: var(--colorDanger);
  width: fit-content;
  padding: 6px 10px;
  border-radius: 10px;
  font-family: Helvetica Neue;
  font-weight: bold;
}
