.gameSetup .share {
  &__card {
    margin: 2rem 0;
  }

  &__closeIcon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--colorDarkTwo);
    margin-left: auto;
  }

  &__challengeItem {
    margin-top: 2rem;
  }
}
