.gameAnalysis {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 1.3rem;
  align-items: center;
  justify-content: center;

  &__board {
    width: 66.8rem;
    height: 67.8rem;
  }

  &__controlBox {
    width: 44.2rem;
  }
}
