.controlBox .movelist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & div {
    overflow-x: hidden !important;
  }

  &__controls {
    padding: 1.6rem;
    background-color: var(--colorWhiteTwo);
    display: grid;
    grid-template-columns: repeat(4, 2.5rem);
    grid-column-gap: 1rem;
    justify-content: center;
    border-radius: var(--border-radius-small);

    svg {
      fill: var(--colorDarkTwo);
      cursor: pointer;
      justify-self: center;
    }
  }

  &__heading {
    margin-bottom: 1.2rem;
  }

  &__list-container {
    background-color: var(--colorWhiteTwo);
    border-radius: var(--border-radius-small);
    margin: 0.2rem 0;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__moves {
    flex-grow: 1;
  }

  &__openingName {
    padding: 1rem;
    background-color: var(--colorWhiteTwo);
    height: 4.6rem;
    border-radius: var(--border-radius-small);
  }
}
