@import "./variables";
@import "./utils";
@import "./resets";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
  font-family: var(--fontPrimary);
  color: var(--colorDarkOne);
  background: radial-gradient(var(--app-background-color));
}

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}
