:root {
  --fontPrimary: "Helvetica Neue";
  --fontSecondary: Roboto;
  --fontSize: 16px;

  --borderRadius: 15px;

  --colorPrimary: #0f5ab6;
  --colorSecondary: blue;
  --colorDanger: #ff0000;

  --colorDarkOne: #131314;
  --colorDarkTwo: #55586a;

  --backgroundColorPrimary: #F5F5F5;
  --outstandingColorPrimary: #FFFFFF;
  --accentColorPrimary: #31417A;
  --brandColorPrimary: #0F5AB6;
  --errorColorPrimary: #FF3C3C;

  --buttonColorDefault: var(--colorPrimary);

  --checkboxColorDefault: var(--colorSecondary);

  --userAvatarColorOnline: #00b817;
  --userAvatarColorIdle: #55586a;
  --userAvatarColorUnavailable: #0f5ab6;
  --userAvatarColorOffline: transparent;
  --userAvatarNoPictureBg: 83.87% 83.87% at 100% 100%, #1565c0 0%, #061c36 100%;
}
