:root {
  --fontPrimary: "Helvetica Neue";
  --fontSecondary: Roboto;

  --borderRadius: 15px;

  --colorPrimary: #0f5ab6;
  --colorSecondary: blue;


  --buttonColorDefault: var(--colorPrimary);

  --checkboxColorDefault: var(--colorSecondary);

  --logoImage: "http"
}
