.gameSetup .challengeLaunched {
  &__close {
    margin-left: auto;
    width: 2.2rem;
    height: 2.2rem;
  }

  &__item {
    &:hover {
      svg {
        fill: var(--colorWhiteOne);
      }
    }
  }
}
