.userItem {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: var(--boxShadow);
  border-radius: 8px;
  padding: 1rem 1.689rem;
  cursor: pointer;
  color: var(--colorDarkTwo);

  &__username {
    margin-left: 0.9rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: currentColor;
  }

  &__right {
    margin-left: auto;
  }

  &__flag {
    margin-left: 1.2rem;
  }

  &:active {
    background-color: var(--colorPrimary) !important;
    color: var(--colorWhiteOne) !important
  }
}
