.pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
