@media (max-width: 1024px) {
  .playerInfoContainer {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .playerInfoContainerFlipped {
    align-items: flex-start;
  }
  .playerInfoIcons {
    order: 2;
    width: 110px;
    margin: 0;
  }
  .playerInfoIcons > :nth-child(2) {
    display: none;
  }
  .playerInfoUsername {
    order: 1;
    margin: 0 6px;
  }
  .playerInfoImgContainer {
    width: 27.5px;
    height: 27.5px;
  }
}
@media (max-width: 768px) {
  .playerInfoContainerFlipped {
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  .playerInfoContainerFlipped .playerInfoUsername {
    text-align: end;
  }
  .playerInfoContainerFlipped .playerInfoImgContainer {
    margin: 0 0 0 6px;
  }
  .playerInfoIcons {
    order: 1;
    width: 80px;
    margin: 0;
  }
  .playerInfoIcons > :nth-child(2) {
    display: none;
  }
  .playerInfoIcons > :nth-child(1) {
    display: none;
  }
  .playerInfoUsername {
    order: 2;
    width: 100%;
    margin: 6px 0 0 0;
  }
  .playerInfoImgContainer {
    width: 27.5px;
    height: 27.5px;
    margin-right: 6px;
  }
}
.playerInfoContainer {
  width: max-content;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  flex-direction: column;
}
.playerInfoContainerFlipped {
  flex-direction: column-reverse;
}

.playerInfoIcons {
  width: 143px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 9px;
  justify-content: space-between;
}
.playerInfoUsername {
  color: #55586a;
  margin: 0;
  font-size: 14px;
}
