.gameContainer {
  display: grid;
  grid-template-areas:
    "empty1 top empty2"
    "player1 board clock1"
    "empty3 board movelist"
    "empty4 board movelist"
    "player2 board clock2"
    "empty5 bot empty6";
  grid-column-gap: 2rem;
  grid-row-gap: 1.8rem;
  padding: 3rem;
  align-items: end;
  justify-content: center;
  box-sizing: border-box;

  &__player-one {
    grid-area: player1;
    align-self: flex-start;

    &--flipped {
      grid-area: player2;
      align-self: flex-end;
    }
  }

  &__player-two {
    grid-area: player2;

    &--flipped {
      grid-area: player1;
      align-self: flex-start;
    }
  }

  &__title {
    grid-area: top;
  }

  &__board {
    grid-area: board;
  }

  &__btn-flip {
    grid-area: bot;
    margin-left: auto;
    cursor: pointer;
    pointer-events: painted;
  }

  &__clock-one {
    grid-area: clock1;
    align-self: flex-start;

    &--flipped {
      align-self: flex-end;
      grid-area: clock2;
    }
  }

  &__clock-two {
    grid-area: clock2;

    &--flipped {
      grid-area: clock1;
      align-self: flex-start;
    }
  }

  &__movelist {
    grid-area: movelist;
  }

  @media (max-width: 1365px) {
    grid-template-areas:
      "top ."
      "player1 ."
      "board clock1"
      "board movelist"
      "board movelist"
      "board clock2"
      "player2 ."
      "bot .";

    &__btn-flip {
      grid-area: player2;
    }
  }

  @media (max-width: 785px) {
    grid-template-areas:
      "players"
      "clocks"
      "board"
      "board"
      "board"
      "board"
      "movelist";
    padding: 1.5rem;

    &__player-one {
      grid-area: players;
    }

    &__player-two {
      justify-self: end;
      grid-area: players;
    }

    &__title {
      display: none;
    }

    &__board {
      width: calc(100vw - 6rem) !important;
      height: calc(100vw - 6rem) !important;
    }

    &__btn-flip {
      display: none;
    }

    &__clock-one {
      grid-area: clocks;
    }

    &__clock-two {
      justify-self: end;
      grid-area: clocks;
    }
  }

  @media (max-width: 375px) {
    &__board {
      width: calc(100vw - 3rem) !important;
      height: calc(100vw - 3rem) !important;
    }
  }
}

