.activeButton {
  background-color: var(--colorDarkTwo);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  border-radius: 50%;
  position: relative;
  outline: 0;
  cursor: pointer;

  &:disabled {
    cursor: initial;
    background-color: var(--colorDarkTwo);
  }

  &--dark:hover::after,
  &--red:hover::after,
  &--grey::after {
    opacity: 1;
  }

  &--dark::after,
  &--red::after,
  &--grey::after {
    content: attr(data-hover);
    opacity: 0;
    padding: 0.1rem 0.6rem;
    text-transform: uppercase;
    position: absolute;
    bottom: -2px;
    font-size: 0.8rem;
    background-color: #fff;
    border-radius: 6px;
    min-width: 50%;
    max-width: 77%;
  }

  &--primary {
    background-color: var(--colorPrimary);
  }

  &--dark {
    background-color: var(--colorDarkOne);

    &::after {
      border: 1px solid #000;
    }
  }
  &--red {
    background-color: var(--colorDanger);

    &::after {
      border: 1px solid var(--colorDanger);
      color: var(--colorDanger);
    }
  }
  &--grey {
    background-color: var(--colorDarkTwo);

    &::after {
      border: 1px solid var(--colorDarkTwo);
      color: var(--colorDarkTwo);
    }
  }
  &--medium {
    width: 4.8rem;
    height: 4.8rem;
  }
  &--small {
    width: 3.6rem;
    height: 3.6rem;
  }
  &--big {
    width: 5.2rem;
    height: 5.2rem;
  }
}
