.activeButton {
  background-color: var(--colorDarkTwo);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  border-radius: 50%;
  position: relative;
  outline: 0;
  cursor: pointer;

  svg {
    fill: var(--colorWhiteOne);
  }

  &:disabled {
    cursor: initial;
    background-color: var(--colorDarkTwo);
    opacity: .5;
  }

  &--primary {
    background-color: var(--colorPrimary);
  }
  &--dark {
    background-color: var(--colorDarkOne);
  }
  &--danger {
    background-color: var(--colorDanger);
  }
  &--secondary {
    background-color: var(--colorDarkTwo);
  }

  &--medium {
    width: 4.8rem;
    height: 4.8rem;
  }
  &--small {
    width: 3.6rem;
    height: 3.6rem;
  }
  &--big {
    width: 5.2rem;
    height: 5.2rem;
  }
}
