.checkbox {
  background-color: var(--colorWhiteOne);

  &--regular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.182rem;
    height: 2.182rem;
    border-radius: 2px;
    border: 1px solid var(--colorDarkTwo);
  }

  &--circled {
    display: block;
    border-radius: 10px;
    width: 1.964rem;
    height: 1.964rem;
    border: 1px solid var(--colorPrimary);
  }

  &--checked {
    background-color: var(--colorPrimary);
    border: 1px solid var(--colorDarkTwo);

    svg {
      fill: var(--colorWhiteOne);
    }
  }

  &--disabled {
    opacity: 0.5;
  }

  &__text {
    margin-left: 0.8rem;
    font-size: 1.6rem;
    color: var(--colorDarkTwo);
    line-height: 1.9rem;
  }
}
