.gameContainer {
  display: grid;
  grid-template-areas:
    ". top ."
    "player1 board rightSide"
    "player1 board rightSide"
    "player2 board rightSide"
    "player2 board rightSide"
    ". bot .";
  grid-template-rows: min-content 1fr min-content;
  grid-column-gap: 2rem;
  grid-row-gap: 1.8rem;
  padding: 3rem;
  align-items: end;
  justify-content: center;
  width: 100%;

  &__player-one {
    grid-area: player1;
    align-self: flex-start;

    &--flipped {
      grid-area: player2;
      align-self: flex-end;
    }
  }

  &__player-two {
    grid-area: player2;

    &--flipped {
      grid-area: player1;
      align-self: flex-start;
    }
  }

  &__title {
    grid-area: top;
  }

  &__board-container {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    grid-area: board;
  }

  &__board {
    width: 57.744rem;
    height: 57.761rem;
  }

  &__btn-flip {
    grid-area: bot;
    margin-left: auto;
    cursor: pointer;
    pointer-events: painted;
  }

  &__clock-one {
    grid-area: rightSide;
    align-self: flex-start;

    &--flipped {
      align-self: flex-end;
      grid-area: rightSide;
    }
  }

  &__clock-two {
    grid-area: rightSide;

    &--flipped {
      grid-area: rightSide;
      align-self: flex-start;
    }
  }

  &__controlBox {
    align-self: center;
    grid-area: rightSide;
    width: 44.2rem;
  }

  @media (max-width: 1365px) {
    grid-template-areas:
      "top ."
      "player1 ."
      "board rightSide"
      "board rightSide"
      "board rightSide"
      "board rightSide"
      "player2 ."
      "bot .";

    &__btn-flip {
      grid-area: player2;
    }

    &__controlBox {
      width: 36.6rem;
      height: 37.6rem;
      margin: 1.7rem 0;
    }
  }

  @media (max-width: 1024px) {
    &__board {
      width: 48.525rem !important;
      height: 48.539rem !important;
    }

    &__controlBox {
      width: 26rem;
    }
  }

  @media (max-width: 785px) {
    grid-template-areas:
      "players"
      "clocks"
      "board"
      "board"
      "board"
      "board"
      "rightSide";
    padding: 3rem;

    &__player-one {
      grid-area: players;
    }

    &__player-two {
      justify-self: end;
      grid-area: players;
    }

    &__title {
      display: none;
    }

    &__board {
      width: calc(100vw - 6rem) !important;
      height: calc(100vw - 6rem) !important;
    }

    &__btn-flip {
      display: none;
    }

    &__clock-one {
      grid-area: clocks;
    }

    &__clock-two {
      justify-self: end;
      grid-area: clocks;
    }

    &__board {
      justify-self: center;
    }
  }

  @media (max-width: 375px) {
    &__board {
      width: calc(100vw - 3rem) !important;
      height: calc(100vw - 3rem) !important;
    }
  }
}
