.text-component {
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  outline: black 1px solid;
}

@media (max-width: 1365px) {
  .text-component {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .text-component {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1023px) {
  .text-component {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .text-component {
    margin-left: 10px;
    margin-right: 10px;
  }
}